.document-container{
    background-color: var(--active-area-background-color);
    height: 48px;
    width: 100%;
    border-radius: 5px; 
    margin-bottom: 8px;
    position: relative; 
}

.document-name-container{
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 8px;
    overflow: hidden;
}
.document-name-text{
    color: var(--palette-text-color); /* Set a font color */
    font-size: var(--font-size, 11px); /* Set a font size */
    text-decoration: underline;
    white-space: nowrap;
    cursor: pointer;
}

#true-status-icon {
    position: absolute;
    top: 5px;
    right: 23px;
    height: 16px;
    width: 16px;
    padding-top: 10px;
}

#false-status-icon {
    position: absolute;
    top: 5px;
    right: 23px;
    height: 16px;
    width: 16px;
    padding-top: 10px;
}

#in-conversion-status-icon {
    position: absolute;
    top: 5px;
    right: 23px;
    height: 16px;
    width: 16px;
    padding-top: 10px;
}