<div class="IDML-Launch-window">
  <div class="background-container">
    <div class="idmlLogo-arrow-container">
      <span><img class="IDLogo" src="assets/images/InDesignLogo.png" /></span>
      <span><img class="arrow" src="assets/images/arrow.png" /></span>
    </div>
    <div>
      <img class="QXPLogo" src="assets/images/QXPLogo.png" />
    </div>
    <div class="Text-Container">
      <h2>Welcome to the
        <br />
        QuarkXPress Migration Tool
      </h2>
    </div>
    <div class="Internal-Text-Container">
      <p>Convert your Adobe InDesign projects
        <br />
        into QuarkXPress files in a few easy steps.</p>
    </div>
  </div>
  <div class="action-button">
    <span class="button-skip" (click)="skip()"> Skip</span>
    <span class="button-continue" (click)="nextScreen()"> Continue</span>
  </div>
</div>