<div class="sc-model">
    <div class="imported-list" tabindex="5">
        <div class="selected">
            <span>Document</span>
        </div>
        <div>
            <span>Section</span>
        </div>
    </div>
    <div class="actions-buttons">
        <div class="list-actions">
            <div class="import-actions">
                <qx-button [name]="'Import...'" [tooltip]="'Import'" [showBackground]='true' (qxClick)="handleImport()"
                    [tabIndex]=2>
                </qx-button>
                <qx-button [disabled]="disabled" [name]="'Update'" [tooltip]="'Update'" [showBackground]='true'
                    (qxClick)="handleUpdate()" [tabIndex]=3>
                </qx-button>
            </div>
            <qx-button [disabled]="disabled" [name]="'Delete'" [tooltip]="'Update'" [showBackground]='true'
                (qxClick)="handleDelete()" [tabIndex]=4>
            </qx-button>
        </div>
        <div class="dialog-actions">
            <qx-button [disabled]="disabled" [name]="'Save'" [tooltip]="'Save'" [showBackground]='true'
                (qxClick)="handleSave()" [tabIndex]=6>
            </qx-button>
            <qx-button [name]="'Cancel'" [tooltip]="'Cancel'" [showBackground]='true' (qxClick)="handleCancel()"
                [focus]=true [tabIndex]=1>
            </qx-button>
        </div>
    </div>
</div>