.stepper-class {
    background: var(--dialog-background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    user-select: none;

    .scan-files-content {
        height: 100%;
    }
}

::ng-deep .mat-horizontal-stepper-header-container {
    background: #EEEEEE;
    justify-content: center;
}

::ng-deep .mat-horizontal-content-container{
    height: 100%;
}

::ng-deep .mat-horizontal-stepper-content{
    height: 100%;
}

::ng-deep .mat-step-header{
    margin-left: 10px;
    margin-right: 10px;
}

::ng-deep .mat-stepper-horizontal-line {
    display: none;
}
.close {
    position: absolute;
    margin-top: 1px;
    margin-right: 1px;
    width: 20pt;
    height: 20pt;
    top: 0;
    right: 0;
    -webkit-user-drag: none;
    user-select: none;
}