<div class="idml-launch-window">
    <div class="background-container">
        <div class="centered-container">
            <img class="image" src="assets\images\img-brand.svg" />
        </div>
        <div class="text-container">
            <qx-label class="sub-text" [multiline]="true">
                {{'ids-lbl-launch-screen-maintextln1' | translate}}
            </qx-label>
            <qx-label class="sub-text" [multiline]="true">
                {{'ids-lbl-launch-screen-maintextln2' | translate}}
            </qx-label>
        </div>
        <div class="internal-text-container">
            <qx-label class="sub-text" [multiline]="true">
                {{'ids-lbl-launch-screen-subtext' | translate}}
            </qx-label>
        </div>
    </div>
</div>
<qrk-footer>
    <div class="horizontal-container">
        <qx-button class="button" [disabled]="false" [name]="'ids-btnlabel-skip' | translate"
            [showBackground]='true' (qxClick)="closeDialog()">
        </qx-button>
        <qx-button class="button" [disabled]="false" [name]="'ids-btnlabel-continue' | translate"
           [showBackground]='true' [focus]='true' (qxClick)="nextScreen()">
        </qx-button>
    </div>
</qrk-footer>
