/* You can add global styles to this file, and also import other style files */
body {
    background: var(--palette-background-color, #666666);
    overflow: hidden;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-select: none;
    user-select: none;
}

.qx-button {
    font-weight: 500;
    font-size: 13px;
    color: white;
}

.qx-label {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.2px;
}

.qx-button:disabled {
    background-color: var(--button-focus-color, #40a8f8);
    opacity: 0.3;
}

.qx-button:active:not(:disabled) {
    background-color: #0e8beb  !important;
    filter: invert(0%);
    border-radius: 5px;
}