<div>
  <div>
  <ng-container>
    <qx-button class="btn" [disabled] ="false" [name]="' Create a new collection...'"
      [focus]='false' [showBackground]='true' (qxClick)="handleButtonClicked()">
    </qx-button>
  </ng-container>
</div>
<div class="scroll">
    <ng-container *ngFor="let collection of imageCollectionData">
        <app-collection [collectionImageData]="collection"></app-collection>    
    </ng-container>
</div>
<div>
<ng-container>
  <div class="horizontal-container" style="padding: 10px;">
      <qx-button class="button" [disabled]="false" [name]="'OK'" [focus]='true'
          [showBackground]='true' (qxClick)="closeOKDialog()" style="height: 25px;  width: 80px;">
      </qx-button>
      <qx-button class="button" [disabled]="false" [name]="'Cancel'"
         [showBackground]='true' [focus]='false' (qxClick)="closeCancelDialog()" style="height: 25px;width: 80px;">
      </qx-button>
  </div>
</ng-container> 
</div>
</div>