.node-name {
    width: 35%;
}
.node-path {
    width: 45%;
}

.listView-container {
    width: 100%;
    height: 60vw;
}
.qx-tree-node-content-wrapper {
    width: 90%; 
    display: inline-block
}

.qx-tree-title {
    width: 80%;
}

.tree-view {
    width: 100%;
    overflow-y: auto;
    height: 70vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .file-status {
        display: flex;
        text-align: right;
        margin-right: 10px;
    }
    .heading-text {
        font-family: "Helvetica Neue", Light;
        margin-right: 20px;
    }
}

img {
    height: 17px; 
    width: 17px;
}