.list-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    // width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
}

.qx-tree-node-content-wrapper {
    width: 90%; 
    display: inline-block;
}

.qx-tree-title {
    width: 80%;
    font-size: 12px;

    .file-icon {
        margin-right: 8px;
    }

    .node-name {
        text-align: left;
    }
    
    .node-path {
        margin-right: 10px;
        float: right;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .status-icon {
        margin-left: 20px;
        margin-right: 5px;
    }
}

.tree-view {
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: row;

    .file-status {
        display: flex;
        text-align: right;
        margin-right: 10px;
    }
    .heading-text {
        font-family: "Helvetica Neue", Light;
        margin-right: 20px;
    }
}

img {
    height: 17px; 
    width: 17px;
}