.list-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: flex-start;
}

.qx-tree-node-content-wrapper {
    width: 90%; 
    display: inline-block;
}

.qx-tree-title {
    font-size: 9pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    .file-icon {
        margin-right: 6pt;
    }

    .node-name {
        text-align: left;
        vertical-align: middle;
        margin-right: 6pt;
        flex-basis: 50%;

        text-overflow: ellipsis;
        overflow: hidden;

        qx-label {
            display: inline;
        }
    }
    
    .node-path {
        text-overflow: ellipsis;
        overflow: hidden;

        margin-left: auto;
        flex-basis: 50%;

        qx-label {
            text-overflow: ellipsis;
            margin-left: auto;
            overflow: hidden;
    
            display: inline;
        }
    }

    .status-icon {
        margin-left: 12pt;
        display: flex;
        align-self: center;
    }
}

.tree-view {
    overflow-y: auto;
    height: 100%;
    background-color: var(--active-area-background-color);
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
    padding: 3.755pt;
    margin-bottom: 20px;
    margin-top: 20px;
    .file-status {
        margin-right: 14.5pt;
        font-size: 10pt;
        display: flex;
        
        .inline-right-align-text {
            margin-left: 5pt;
            font-size: 10pt;
        }
    }
    .heading-text {
        font-size: 14.5pt;
        margin-right: 30pt;
    }
    .file-status-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        // right: 14.5pt;
    }
}

img {
    height: 12pt; 
    width: 12pt;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .footer-content {
        margin-right: 30pt;
    }
}