.picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: stretch;
  grid-gap: 5px;
  grid-row-gap: 0px;
  grid-column-gap: 5px;
  align-items: center;
  object-fit: cover;
 }

 .message-text {
  color: var(--palette-text-color); /* Set a font color */
  font-size: var(--font-size, 14px); /* Set a font size */
  text-align: center;
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto
}