.origin-down {
    display: flex;
    flex-direction: row;
    align-items: center;

    qx-label {
        font-size: 11px;
        width: 80px;
        text-align: right;
    }

    qx-textbox {
        width: 90px;
        margin-left: 10px;
    }
}