
<div  style="pointer-events: none">
  <ng-container *ngIf="collectionData.mMarkDeleted == 'false'">
      <div id="collection-container"  [class.greenBorder]="collectionData.mIsDefaultCollection === 'true'" style="pointer-events: all; "  [contextMenu]="componentMenu">
          <div class="collection-name-container">
              <span class = "collection-name-text qx-font">{{collectionData.mEditedCollectionName}}</span>
              <img id = "editcollection-icon" src = "./assets/EditCollection.svg" (click)="editCollection()" title="{{'ids-lbl-edit-collection' | translate}}">
          <img id = "deletecollection-icon" src = "./assets/DeleteCollection.svg" (click)="deleteCollection()" title="{{'ids-lbl-delete-collection' | translate}}">
       </div>
   </div>
  <context-menu #componentMenu>
    <ng-container *ngIf="collectionData.mIsDefaultCollection === 'false'">
        <ng-template contextMenuItem (execute)="showMessage($event)">
          {{'ids-lbl-set-default-target-collection' | translate}}
        </ng-template>  
    </ng-container>
    </context-menu>
  </ng-container>
</div>
