.idml-launch-window {
    background-color: #c0c0c0;

    .background-container {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 80%;

        .convert-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .text-container {
            font-family: "Helvetica Neue", Light;
            font-size: 60px;
        }
        
        .internal-text-container {
            font-family: "Helvetica Neue", Regular;
            font-size: 30px;
        }

        .sub-text {
            position: center;
            text-align: center;
        }
    }

    .action-button {
        display: flex;
        justify-content: flex-end;

        .skip-button {
            margin: 5px;
            padding: 5px;
            text-align: center;
        }

        .continue-button {
            padding: 5px;
            margin: 5px;
            text-align: center;
        }
    }
}