/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.woff2') format('woff2');
    font-weight: 400;
}

body {
    background-color: #464646;
    box-sizing: border-box;
    color: #2a2a2a;
    font-size: 16px;
    font-display: swap;
    font-family: Nunito;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    margin: 0;
    overflow: hidden;
}
a {
    color: #999;
    user-select: none;
    -webkit-user-drag: none;
    text-decoration: underline;
}
a:active, a:focus, a:visited {
    outline: none;
}

a:hover {
    color: #2a2a2a;
}
