<div class="trial-window" *ngIf="arrived">
  <div class="background-container">
    <div *ngIf="isOnline; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <iframe class='background' [src]="safeOfferURL"></iframe>
    </ng-template>  
    <ng-template #elseBlock>
      <img class='background' src="assets/images/background.png" />
      <img class='logo' src="assets/images/logo.png" />
      <div class='promo-static-container'>
        <div class='trial-text-container'>
          <div class="trial-text"> {{ [numOfDays > 0 ? "trialText" : "thanksText"] | translate }}</div>
          <!--
          <div class="qx-advantage"> {{ "qxAdvantage" | translate }}<br>{{ "coupon" | translate }}</div>
          -->
        </div>
        <div class="button-buy" (click)="buyNow()"> {{ "buy" | translate }}</div>
    </div>
    </ng-template>
    <img class='close' src="assets/images/close.png" (click)="closeDialog()" />
  </div>

  <div class="bottom-container">
    <div class="trial-text-bottom-container">
      <div class="days-number" *ngIf="numOfDays > 0">{{ daysRemaining }}</div>
      <div class="days-remaining-text"> {{ [numOfDays > 0 ? "remainingText" : "evalTextOnline"] | translate }} </div>
    </div>
    <!--
      <div class="button-activate" (click)="activateLicense()"> {{ "activate" | translate }}</div>
    -->
  </div>
</div>