<div class="trial-window">
  <div class="background-container">
    <img class='background' src="assets/images/background.png" />
    <img class='logo' src="assets/images/logo.png" />
    <img class='close' src="assets/images/close.png" (click)="closeDialog()" />
    <div class='trial-text-container'>
      <span class="days-number" *ngIf="numOfDays > 0">{{ daysRemaining }}</span>
      <span class="days-remaining-text"> {{ [numOfDays > 0 ? "remainingText" : "thanksText"] | translate }} </span>
      <span class="trial-text" [ngClass]="{ 'trial-text-margin' : numOfDays === 0 }"> {{ [numOfDays > 0 ? "trialText" : "evalText"] | translate }}</span>
    </div>
    <!-- <div class="qx-advantage"> {{ "qxAdvantage" | translate }}</div> -->
  </div>

  <div class="action-button">
    <div class="button-buy" (click)="buyNow()"> {{ "buy" | translate }}
      <img class='chevron' src="assets/images/chevron_right.png" />
    </div>
    <div class="button-activate" (click)="activateLicense()"> {{ "activate" | translate }}</div>
  </div>
</div>