.node-name {
    width: 50%;
}

.qx-tree-node-content-wrapper {
    width: 100%; 
    display: inline-block
}

.qx-tree-title {
    width: 80%;
}

.tree-view {
    height: 600px;
    overflow: scroll;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
}

.inline-right-align-text {
    text-align: right;
    display: inline-block;
}
