<div class="background-container">
    <div class="text-container" [ngClass]="{ 'hidden': hideHeading }">
        <qx-label class="sub-text">
            {{headingText}}
        </qx-label>
    </div>
    <div class="image-container" [ngClass]="{ 'hidden': hideImage }">
        <img class="scan-logo" [src]="imgSrc" />
    </div>
    <div class="internal-text-container" [ngClass]="{ 'hidden': hideScanView }">
        <qx-label class="sub-text" [multiline]="true">
            {{'ids-lbl-scan-files-subtext' | translate}}
        </qx-label>
        <div class="action-button">
            <qx-button class="smart-scan-button" [disabled]="false" [name]="'ids-btnlabel-run-smart-scan' | translate"
                [tooltip]="'ids-ttp-run-smart-scan' | translate" [showBackground]='true' [isSelected]='true'
                (click)="performSystemScan()">
            </qx-button>
            <qx-button class="manual-select-files-button" [disabled]="false"
                [name]="'ids-btnlabel-manually-select-files' | translate"
                [tooltip]="'ids-ttp-manually-select-files' | translate" [showBackground]='true' [isSelected]='false'
                (click)="performCustomScan()">
                <input #fileInput type="file" class="hidden" (change)="performCustomScan()" />
            </qx-button>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="filesResultView"></ng-container>
    <ng-container *ngTemplateOutlet="cancelButtonView"></ng-container>
    <div *ngIf="!hideFilesListView">
        <qrk-search-list-view [treeFilesEnumData]="filesEnumData" ></qrk-search-list-view>
    </div>
</div>

<ng-template #filesResultView>
    <div class="files-result-container" *ngIf="showResultWindow">
        <qx-label class="sub-text">
            {{numOfFiles}}
        </qx-label>
        <div class="document-result">
            <qx-label class="button-text">
                {{numOfINDDFiles}} INDD
            </qx-label>
            <qx-label class="button-text">
                {{numOfIDMLFiles}} IDML
            </qx-label>
        </div>
    </div>
</ng-template>

<ng-template #cancelButtonView>
    <div class="cancel-button" *ngIf="showCancelButton">
        <qx-button [disabled]="false" [name]="'ids-btnlabel-cancel' | translate" [showBackground]='true'
            [isSelected]='false'>
        </qx-button>
    </div>
</ng-template>
