<div class="trial-window">
  <div class="background-container">
    <img class='background' src="assets/images/background.png" />
    <img class='logo' src="assets/images/logo.png" />
    <img class='close' src="assets/images/close.png" (click)="closeDialog()" />
    <div class='trial-text-container'>
      <span class="days-number">{{ daysRemaining }}</span>
      <span class="days-remaining-text"> {{ "remainingText" | translate }}</span>
      <span class="trial-text"> {{ "trialText" | translate }}</span>
    </div>
    <div class="qx-advantage"> {{ "qxAdvantage" | translate }}</div>
  </div>

  <div class="action-button">
    <div class="button-buy" (click)="buyNow()"> {{ "buy" | translate }}</div>
    <div class="button-activate" (click)="activateLicense()"> {{ "activate" | translate }}</div>
  </div>
</div>