<div class="trial-window">
  <span class="logo-text">Thank you for trying</span>
  <img class='logo' src="assets/qxp-logo.png" />
  <img class='slide' src="assets/slide-01.png" (load)="isLoaded()"/>

  <div class="action-button" fxLayoutAlign="space-between" fxLayout="row">
    <div fxLayoutAlign="start" fxLayoutGap="20px">
      <button class="button-buy" (click)="buyNow()">
        <span>BUY NOW</span>
      </button>
      <button class="button-activate" (click)="activateLicense()">
        <span>ACTIVATE LICENSE</span>
      </button>
    </div>
    <div #continueTrialBtn fxLayoutAlign="end">
      <button class="button-continue" (click)="continueTrial()">
        <span>CONTINUE TRIAL</span>
      </button>
    </div>
  </div>
  <div #overlay class="overlay">
    <span class="days-remaining">{{daysRemaining}}</span>
    <span class="days-remaining-text">Days Remaining</span>
  </div>
</div>