<div #nps class="npsWrapper">
    <a class="npsClose" (click)="closeDialog(isOnline)">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 15 15">
            <path
                d="M1.594-9,7.406-3.187A.348.348,0,0,1,7.5-2.93a.348.348,0,0,1-.094.258L6.328-1.594A.348.348,0,0,1,6.07-1.5a.348.348,0,0,1-.258-.094L0-7.406-5.813-1.594A.348.348,0,0,1-6.07-1.5a.348.348,0,0,1-.258-.094L-7.406-2.672A.348.348,0,0,1-7.5-2.93a.348.348,0,0,1,.094-.258L-1.594-9l-5.812-5.812A.348.348,0,0,1-7.5-15.07a.348.348,0,0,1,.094-.258l1.078-1.078A.348.348,0,0,1-6.07-16.5a.348.348,0,0,1,.258.094L0-10.594l5.812-5.812A.348.348,0,0,1,6.07-16.5a.348.348,0,0,1,.258.094l1.078,1.078a.348.348,0,0,1,.094.258.348.348,0,0,1-.094.258l-.984.984Z"
                transform="translate(7.5 16.5)" fill="#acacac" />
        </svg>
    </a>
    <header class="npsHeader">
        <img src="assets/images/qxp-logo.png" />
        <p [innerHtml]="headerMessage | translate">
        </p>
    </header>

    <main class="npsMain">
        <h1 [innerHtml]="mainHeader | translate">
        </h1>

        <form class="npsForm" id="npsForm" (submit)="submitFeedback($event)">
            <ul class="npsOption-description-container">
                <li>
                    <svg class="nps__emoji-frown" xmlns="http://www.w3.org/2000/svg" width="20"
                        viewBox="0 0 41.271 41.271">
                        <g transform="translate(10.381 10.788)">
                            <ellipse cx="20.636" cy="20.636" rx="20.636" ry="20.636"
                                transform="translate(-10.381 -10.788)" fill="#f12d2d" />
                            <circle cx="2.5" cy="2.5" r="2.5" transform="translate(1.619)" fill="#333" />
                            <circle cx="2.5" cy="2.5" r="2.5" transform="translate(13.341)" fill="#333" />
                            <path
                                d="M134.115,307.787a13.917,13.917,0,0,0-20,.059c-.7.722.4,1.825,1.1,1.1a12.34,12.34,0,0,1,17.8-.059c.7.719,1.805-.384,1.1-1.1Z"
                                transform="translate(-113.893 -288.122)" fill="#333" />
                        </g>
                    </svg>
                </li>
                <li>
                    <svg class="nps__emoji-smile" xmlns="http://www.w3.org/2000/svg" width="20"
                        viewBox="0 0 41.271 41.271">
                        <g transform="translate(6.368 10.379)">
                            <circle cx="20.636" cy="20.636" r="20.636" transform="translate(-6.368 -10.379)"
                                fill="#279c07" />
                            <circle cx="2.5" cy="2.5" r="2.5" transform="translate(5.632)" fill="#333" />
                            <circle cx="2.5" cy="2.5" r="2.5" transform="translate(17.806)" fill="#333" />
                            <path
                                d="M134.115,304.976a13.917,13.917,0,0,1-20-.059c-.7-.722.4-1.825,1.1-1.1a12.34,12.34,0,0,0,17.8.059c.7-.719,1.805.384,1.1,1.1Z"
                                transform="translate(-109.261 -287.713)" fill="#333" />
                        </g>
                    </svg>
                </li>
            </ul>

            <div class="npsInput-container">
                <!-- NPS inputs (0 - 10) -->
                <div class="npsInputWrapper" *ngFor="let rate of ratingNumbers">
                    <input type="checkbox" class="npsCheckbox nps__{{rate}}" id="nps__{{rate}}" name="nps_value"
                        value={{rate}} (click)="selectCheckbox($event)">
                    <label for="nps__{{rate}}">{{ rate }}</label>
                </div>
            </div>

            <!-- NPS feedback -->
            <div class="nps__feedback-container">
                <label for="nps_feedback"></label>
                <textarea #textArea name="nps_feedback" class="npsFeedback" id="nps_feedback" maxlength="2000"
                    placeholder="{{ 'placeholderText' | translate}}" (keydown.escape)='onBlur($event)'></textarea>
            </div>

            <!-- Email Address -->
            <div class="nps__contact-container">
                <input #contactCheckbox type="checkbox" name="nps_contact-confirm" class="nps__contact-confirm"
                    id="nps_contact-confirm" (click)='contactMe($event)' />
                <label for="nps_contact-confirm">{{ 'contactText' | translate}}</label>
                <input #email title='' spellcheck="false" autocomplete="off" type="text" name="nps_contact"
                    class="nps__contact" id="nps_contact" maxlength="100"
                    placeholder="{{ 'emailPlaceholder' | translate}}" (keydown.escape)='onBlur($event)' />
            </div>

            <!-- NPS submit -->
            <input type="submit" class="npsSubmit" value="{{ 'sendText' | translate}}" [disabled]='disabled'
                [ngClass]="{ 'disabled' : disabled }" />
        </form>
        <small class="nps__disclaimer" [innerHtml]="disclaimer | translate"></small>
    </main>
</div>
<div id="loaderScreen" [style.display]="loaderDisplay">
    <div [style.display]="loaderDisplay" id="loadingLogo">
        <img [style.opacity]="imageOpacity" id="loadingImage" src="assets/images/spinner.gif">
    </div>
</div>